<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link href="https://fonts.googleapis.com/css?family=Pacifico|PT+Sans|Handlee&display=swap" rel="stylesheet">
    </head>
    <style>
      body{
    background-attachment:fixed;
    font-family:"Handlee";
}
#fiz{
    font-family:fantasy;
    font-size:250%;
    font-weight:100;
    color:black;
}

#ful{
    color:red;
    font-family:"pt sans";
    font-size:180%;
}
input{
  text-align: center;
}
</style>
    <body background="#ccc">
      <h1 align="center"  >
      <div id="fiz">404</div>
    
   <i style="font-family: 'pacifico';color:black;">Page Not Found</i>
      </h1>
      
      <h2><div id="fuh">Oops! The page you are looking for is missing or maybe moved to another site...</div>
      <br /> <i><div id="ful" align="center"> Please try again later </div>
          
      </i></h2>
        
      <h2 align="center">How can I help you?</h2>
<h2>   <input type="radio" name="gender"/>Try to Troubleshoot it.<br />
<input type="radio"name="gender"/> Help me connect to a specific webpage. <br />
<input type="radio"name="gender"/>No need, I came for this 404 error page.<br /><br />
<button onClick="fuh()" align="center"><b><i>Submit</i></b></button><br />

<script>
  function fuh(){
    alert("Error 404")
  }
</script>
</body>
</html>    